<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ohjoseph.com.urtuu" >

    <uses-sdk android:minSdkVersion="14" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Shop.ItemListActivity"
            android:label="@string/title_activity_item_list"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/noAnimTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ohjoseph.com.urtuu.Main.MainActivity" />
        </activity>
        <activity
            android:name=".Shop.ItemActivity"
            android:parentActivityName=".Shop.ItemListActivity" />
        <activity
            android:name=".Sell.NewItemActivity"
            android:label="@string/title_activity_new_item"
            android:windowSoftInputMode="stateHidden" >
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
        <activity
            android:name=".MyAccount.OrderItemActivity"
            android:label="@string/title_activity_order_item" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
        <activity
            android:name=".MyAccount.Profile.EditProfileActivity"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name=".MyAccount.Payments.MyPaymentsActivity"
            android:label="@string/title_activity_my_payments" >
        </activity>
        <activity
            android:name=".MyAccount.Deliveries.MyDeliveriesActivity"
            android:label="@string/title_activity_my_deliveries" >
        </activity>
        <activity
            android:name=".MyAccount.Info.MyInfoActivity"
            android:label="@string/title_activity_my_info" >
        </activity>
        <activity
            android:name=".MyAccount.ConfirmationActivity"
            android:label="@string/title_activity_confirmation" >
        </activity>
        <activity
            android:name=".MyAccount.MyAccountsActivity"
            android:label="@string/title_activity_my_accounts" >
        </activity>
        <activity
            android:name=".MyAccount.Reviews.MyRatingsActivity"
            android:label="@string/title_activity_my_ratings" >
        </activity>
        <activity
            android:name=".Main.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
